/* Background Colors */
.back {
  position: absolute;
  min-width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: [first] 60% [second] auto;
  overflow: hidden;
}

.back:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 5em;
}

.no-overflow {
  overflow: hidden;
  position: absolute;
}

.relative {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.left {
  background-color: var(--color-primary-2);
}

.right {
  background-color: var(--color-primary-1);
}

.block1 {
  background: linear-gradient(var(--color-primary-4), var(--color-primary-3));
  /* background-color: var(--color-primary-4); */
  height: 65vh;
  width: 200vw;
  transform: rotate(0deg) translate(-30em, 30em);
  bottom: -50vh;
  left: -10vw;
  position: absolute;
  transition: 1s;
}

.block2 {
  background: linear-gradient(var(--color-primary-3), var(--color-primary-4));
  /* background-color: var(--color-primary-3); */
  height: 65vh;
  width: 200vw;
  transform: rotate(-0deg) translate(30em, 30em);
  bottom: -50vh;
  right: -10vw;
  position: absolute;
  transition: 1s;
}

.pushup-1 {
  transform: rotate(8deg) translate(0em, 3em);
  border-radius: 15%;
}
.pushup-2 {
  transform: rotate(-8deg) translate(0em, 3em);
  border-radius: 15%;
}

.part-left {
  transform: rotate(18deg) translateY(40em);
}
.part-right {
  transform: rotate(-18deg) translateY(40em);
}

.left::before {
  content: "";
  display: block;
  width: 80%;
  height: 100%;
  position: relative;
  top: 0;
  left: 60%;
  background: linear-gradient(
    90deg,
    var(--color-primary-2),
    var(--color-primary-1)
  );
}
