.fade {
  animation: fadein 0.5s;
  position: relative;
  height: 100vh;
}

.projectGrid {
  width: 80%;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-container {
  height: 100%;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

.project {
  background-color: #ffffff;
  margin: .5em;
  transition: transform 0.3s linear, z-index 0.5s step-start;
  z-index: 0;
  box-shadow: 0px 0px .4em;
  border-radius: 1em;
  min-width: 10em;
  min-height: 10em;
  overflow: hidden;
}

.project:hover{
  transform: scale(1.05);
  z-index: 1;
  transition: transform 0.5s ease-in-out;
}

.project img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  vertical-align: top;
}

.project p {
  font-size: 1em;
  margin: 1em;
  color: var(--color-text-2);
}